.container {
    margin: 0 auto;
    width: 1400px;
    /* color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#primeNumbers {
    width: 500px;
    text-overflow: clip;
}

/* .main {
    width: 200px;
} */

